
body{
    background: #6b0202;
}

.navbar{
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    border-bottom: solid black;
    border-top: solid black;
}

.gradient-bg-theme {
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #000000, #560d1e, #910d18, #77024f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #490606, #8c102c, #751965, #a80e6a);
}

